/* Page index */
.hero-pages {
    z-index: -1;
    position: absolute;
    border: 2px solid blue;
    height: 100%;
    width: 100%;
}

.hero-pages img {
    height: 100%;
    object-fit: cover;
    border: 2px solid green;
}

.title-h2-page {
    border: 2px solid orange;
    margin: auto;
    margin-top: 150px;
    width: 500px;
}

.background-page {
    padding-right: 100px;
    padding-left: 100px;
    background-color: $background-container-page;
}

.info-search-secondary {
    width: auto;
    border: 2px solid red;
}